/* スライドバーに指を置いたときの色変化 */
#sidebar ul.sidebar-buttons li.sidebar-button .sidebar-button-link:hover
{
    color: #9fff9f;
    font-size: 10px;
}

#header .header-title .header-title-link
{
    color:#000000; font-size: Large;
}

.postShorten-group .postShorten
{
    border-bottom:1px solid #313131;
}

.sidebar-button-desc
{
    font-size: 1.3rem;
}
